<div class="editparcel">
    <div class="index">

      <h1>Modifier une parcelle</h1>

      <%= render 'form', parcel: @parcel %>

      <%= link_to 'Voir', @parcel %> |
      <%= link_to 'Retour', parcels_path %>

  </div>
</div>
