<p id="notice"><%= notice %></p>

<div class="index">

<h1>Parcelles</h1>

  <%= link_to 'Ajouter une parcelle', new_parcel_path, class: 'btn btn-primary mt-5 mb-5' %>

  <div class="row">
  <% @parcels.each do |parcel| %>
    <div class="col-sm-4 mb-3">
      <div class="card">
        <div class="card-header">
          <%= parcel.idPlace %>
        </div>
        <div class="card-header">
        <%= link_to 'Voir la fiche', parcel, class: "btn btn-outline-primary center-text" %>
        </div>
      </div>
    </div>
  <% end %>
  </div>

</div>
