<div class="newparcel">
		<div class="index">

		<h1>Nouvelle Parcelle</h1>
		<br>
		<div class="text-center form-signin">


		<%= render 'form', parcel: @parcel %>

		<%= link_to 'Retour', parcels_path, class: 'btn btn-outline-primary' %>
		</div>
	</div>
</div>
