<div class="index">

  <h1>Modifier un suivi</h1>

  <%= render 'form', fertilization: @fertilization %>

  <div class="mt-4">

    <%= link_to 'Voir', @fertilization %> |

  <%= link_to 'Retour', fertilizations_path %>
  </div>
</div>
