<div class="index">

    <h1>Modifier les engrais</h1>

    <%= render 'form', fertilizer: @fertilizer %>

    <%= link_to 'Voir', @fertilizer %> |
    <%= link_to 'Retour', fertilizers_path %>

</div>
