<p id="notice"><%= notice %></p>

<div class="index">

  <h1>Types d'engrais</h1>

  <%= link_to 'Ajouter un engrais', new_fertilizer_path, class: 'btn btn-primary mt-5 mb-5' %>

  <div class="row">
  <% @fertilizers.each do |fertilizer| %>
    <div class="col-sm-4 mb-3">
      <div class="card">
        <div class="card-header">
          <%= fertilizer.name %>
        </div>
        <div class="card-header">
        <%= link_to 'Voir la fiche', fertilizer, class: "btn btn-outline-primary center-text" %>
        </div>
      </div>
    </div>
  <% end %>
  </div>

</div>
