<p id="notice"><%= notice %></p>

<div class="index">

<h1>Variétés</h1>

<%= link_to 'Ajouter une variété de légume', new_variety_path, class: 'btn btn-primary mt-5 mb-5' %>

    <div class="row">
    <% @varieties.each do |variety| %>
      <div class="col-sm-4 mb-3">
        <div class="card">
          <div class="card-header">
            <%= variety.name %>
          </div>
          <div class="card-header">
          <%= link_to 'Voir la fiche', variety, class: "btn btn-outline-primary center-text" %>
          </div>
        </div>
      </div>
    <% end %>
    </div>


<br>

</div>
