	<div class="index">

		<h1>Modifier un suivi</h1>

		<%= render 'form', event: @event %>

		<div class="mt-4">

		  <%= link_to 'Voir', @event %> %>

		<br>
		<%= link_to 'Retour', events_path %>
		</div>

	</div>