<p id="notice"><%= notice %></p>

<div class="index">

<h1>Type d'action</h1>

<%= link_to 'Ajouter un type d\'action', new_action_type_path, class: 'btn btn-primary mt-5 mb-5' %>

  <div class="row">
  <% @action_types.each do |action| %>
    <div class="col-sm-4 mb-3">
      <div class="card">
        <div class="card-header">
          <%= action.name %>
        </div>
        <div class="card-header">
        <%= link_to 'Modifier', edit_action_type_path(action), class: "btn btn-outline-primary center-text" %>
        </div>
      </div>
    </div>
  <% end %>
  </div>
</div>
