<p id="notice"><%= notice %></p>

<div class="index">
  <p>
    <p class="font-weight-bold mt-3 h5">Nom :</p>
    <p class="bd-callout bd-callout-primary p-3 shadow-sm"><%= @action_type.name %></p>
  </p>

  <div class="mt-4">
    <% if can? :update, @variety%>
    <%= link_to 'Modifier', edit_action_type_path(@action_type), class: 'btn btn-outline-secondary mb-4' %> |
    <% end %>
    <br>
    <%= link_to 'Retour', action_types_path %>
  </div>
</div>
