<div class="editvege">
  <div class="index">

      <h1>Modifier un légume</h1>

      <div class="form-signin text-center">
        <%= render 'form', vegetable: @vegetable %>
        <%= link_to 'Retour', vegetables_path, class: 'btn btn-primary' %>
      </div>
  </div>
</div>
