<p id="notice"><%= notice %></p>

<div class="index">
  <h1>Mes légumes</h1>

<%= link_to 'Ajouter un légume', new_vegetable_path, class: 'btn btn-primary mt-5 mb-5' %>

  <div class="row">
  <% @vegetables.each do |vegetable| %>
    <div class="col-sm-4 mb-3">
      <div class="card">
        <div class="card-header">
          <%= vegetable.name %>
        </div>
        <div class="card-header">
        <%= link_to 'Voir la fiche', vegetable, class: "btn btn-outline-primary center-text" %>
        </div>
      </div>
    </div>
  <% end %>
  </div>


</div>

