<div class="newvege">
    <div class="index">
      <h1>Ajouter un légume</h1>
      <div class="text-center form-signin">
      <%= render 'form', vegetable: @vegetable %>
      <%= link_to 'Annuler', vegetables_path, class: 'btn btn-outline-primary'%>
      </div>
  </div>
</div>
