<div class="newvege">
    <div class="index">
      <h1>Ajouter un légume</h1>

      <%= render 'form', vegetable: @vegetable %>

      <%= link_to 'Annuler', vegetables_path, class: 'btn btn-outline-secondary'%>
  </div>
</div>
