<p id="notice"><%= notice %></p>

<div class="showvege ">
    <div class="index">
    <p>
      <h1>Fiche légume</h1>
      <br>
      <p class="bd-callout bd-callout-primary p-3 shadow-sm form-signin"><%= @vegetable.name %></p>
    </p>

    <div class="mt-4 text-center">
      <%= link_to 'Modifier', edit_vegetable_path(@vegetable), class: 'btn btn-outline-primary' %>
      <br>
      <%= link_to 'Retour', vegetables_path, class: 'btn btn-primary' %>
    </div>

  </div>
</div>
