.homepage {
  .background1 {
    background: url('/images/illuaccueil2.png') no-repeat center fixed;
    background-size: cover;
    height: 100vh;

    a {
      display: block;
      padding-top: 650px;
    }
    h1{
      font-size: 57px;
    }

  }
  .fa-angle-double-down {
    font-size: 100px;
  }

  .container{
    height: 83vh;
    margin-top: 170px;
  }

  .dot {
    height: 7px;
    width: 7px;
    background-color: black;
    border-radius: 50%;
    display: inline-block;
  }
}


.form-signin {
    width: 100%;
    max-width: 526px;
    padding: 15px;
    margin: auto;
}

.links {
    margin-top: 1em;

    a {
        margin: 1.5em 0;
    }
}

.actions {
    margin-top: 1.5em;
}
