// Place all the styles related to the Events controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.index {
    max-width: 800px;
    margin: auto;

    h1 {
        margin: 1.5em 0;
    }
}

.bd-callout {
    border: 1px solid #eee;
    border-left-width: .25rem;
    border-radius: .25rem;
}
.bd-callout-primary {
    border-left-color: #007bff;
}
