// Place all the styles related to the Parcels controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.indexparcel {
  h1 {
    text-transform: uppercase;
    font-size: 32px;
  }
  .btn-primary {
    margin-bottom: 27px;
  }
}

.newparcel {
  text-transform: uppercase;
  .btn-primary {
    padding-left: 19px;
    padding-right: 19px;
  }
}

.showparcel {
  text-transform: uppercase;
  .btn-primary {
    padding-left: 19px;
    padding-right: 19px;
    margin-top: 15px;
  }
}

.editparcel {
  text-transform: uppercase;
}
