// Place all the styles related to the Vegetables controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.indexvege {
  h1 {
    text-transform: uppercase;
    font-size: 32px;
  }
  .btn-primary {
    margin-bottom: 27px;
    text-transform: uppercase;
  }
}

.newvege {
  text-transform: uppercase;
  h1 {
    font-size: 32px;
  }
  .btn-primary {
    text-transform: uppercase;
  }
}

.editvege {
  .btn-primary {
    padding-left: 19px;
    padding-right: 19px;
  }
}

.showvege {
  text-transform: uppercase;
  .btn-outline-primary {
    margin-bottom: 20px;
  }
  .btn-primary {
    padding-left: 19px;
    padding-right: 19px;
  }
}
